@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    color: black;
}

/* CABEÇALHO */
header {
    /* border: 1px solid green; */
    width: 100%;
    height: 80px;
    /* border-end-end-radius: 30px; */
    /* border-end-start-radius: 30px; */
    box-shadow: 2px 2px 13px rgba(102, 102, 102, 0.3);
}

.container-nav-bar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo-site {
    width: 150px;
}

.container-nav-bar img {
    width: 18px;
}

#lupa {
    margin-right: 15px;
}

/* TITULO PRINCIPAL */
.container-titulo-principal {
    /* border: 1px solid orange; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-titulo-principal h1 {
    margin-top: 50px;
}

.container-titulo-principal p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

/* CARD PLANTA */
.container-cards-plantas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-planta {
    border: 1px solid #DADCE0;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 7px 4px 20px rgba(0, 0, 0, 0.3);
}

.card-planta div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}

.div-box {
    margin: 10px 0;
}

.box-img {
    /* border: 1px solid blue; */
    width: 100%;
    height: 180px;
}

.card-planta h2 {
    font-size: 18px;
}

.card-planta button {
    border: 1px solid #DADCE0;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 500ms;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px #c8ff0000;
}

.card-planta button:hover {
    background-color: #C6FF00;
    box-shadow: 0px 0px 10px #c8ff0096;
    cursor: pointer;
}

/* MENU NAV BAR */
.menu-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    
}

.menu-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
}

.close {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.menu-content ul {
    list-style-type: none;
    padding: 0;
}

.menu-content ul li {
    margin: 10px 0;
}

.menu-content ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

#menu:hover {
    cursor: pointer;
}