@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    color: black;
}

/* CABEÇALHO */
header {
    /* border: 1px solid green; */
    width: 100%;
    height: 80px;
    /* border-end-end-radius: 30px; */
    /* border-end-start-radius: 30px; */
    box-shadow: 2px 2px 13px rgba(102, 102, 102, 0.3);
}

.container-nav-bar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo-site {
    width: 150px;
}

.container-nav-bar img {
    width: 18px;
}

#lupa {
    margin-right: 15px;
}

/* QUEM SOMOS NÓS */
.container-quem-somos-nos {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-quem-somos-nos h1 {
    font-size: 40px;
    margin-top: 20px;
}

.sub-titulo {
    font-size: 20px;
    font-weight: 500;
}

.container-quem-somos-nos p {
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

/* MEMBROS */
.container-membros h2 {
    font-size: 25px;
    text-align: center;
    margin: 20px 0 10px 0;
}

.container-person {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-person {
    /* border: 1px solid purple; */
    width: 90%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.card-person div {
    border: 1px solid #DADCE0;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 13px rgba(102, 102, 102, 0.459);
}

.card-person img {
    width: 300px;
    box-shadow: 2px 2px 13px rgba(102, 102, 102, 0.3);
    border-radius: 50px;
    margin-bottom: 10px;
}

.card-person h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.card-person p {
    text-align: center;
    font-size: 20px;
}

/* MENU NAV BAR */
.menu-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    
}

.menu-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
}

.close {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.menu-content ul {
    list-style-type: none;
    padding: 0;
}

.menu-content ul li {
    margin: 10px 0;
}

.menu-content ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

#menu:hover {
    cursor: pointer;
}